.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  min-height: 50px;
  padding: 15px 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__header > .MuiSvgIcon-root {
  margin: 5px;
  color: gray;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 10px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: grey;
}

.chat__headerMenu {
  display: flex;
  justify-content: space-between;
}

.chat__body {
  flex: 1;
  width: auto;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 7px;
  padding-top: 20px;
  overflow: auto;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  min-width: 100px;
  margin-bottom: 30px;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.chat__timestamp {
  margin-left: 15px;
  font-size: x-small;
}
