@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.login__containerImage {
  size: 200%;
  width: 100%;
  height: 100%;
  padding-bottom: 12%;
}

.login__text {
  color: #adffad;
  font-family: "Rubik", sans-serif;
  font-size: larger;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.597);
  border-bottom: 3.5px groove #1d1d1d;
}

.login__button > button {
  font-family: "Rubik", sans-serif;
  padding: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  text-transform: inherit !important;
  background-color: #0a8d4d !important;
  color: white;
  transition-duration: 1s;
}

.login__button > button:active {
  position: relative;
  top: 2px;
}

.login__button > button:hover {
  background-color: green !important;
}
