.room {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.room__header {
  display: flex;
  min-height: 70px;
  padding: 15px 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #51c4d3;
}

.room__header > .MuiSvgIcon-root {
  margin: 5px;
  color: gray;
}

.room__headerInfo {
  flex: 1;
  padding-left: 10px;
}

.room__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.5em;
}

.room__headerInfo > p {
  color: grey;
  margin: unset;
}

.room__headerMenu {
  display: flex;
  justify-content: space-between;
}

.room__body {
  flex: 1;
  background-color: #7ccfda;
  padding: 0.5em;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  background-image: radial-gradient(#ffffff52, 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}

.chat__message {
  box-sizing: unset;
  position: relative;
  font-size: 16px;
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  max-width: 30em;
  margin-bottom: 2.5em;
  display: flex;
  align-items: center;
  align-content: space-evenly;
}

.chat__property {
  position: absolute;
  width: max-content;
  font-size: x-small;
}

.chat__senderProperty {
  right: 0;
  margin-right: 5px;
}

.chat__users {
  margin-left: auto;
  background-color: #bddfeb;
}

.chat__name {
  top: -15px;
  font-weight: 700;
}

.chat__timestamp {
  bottom: -15px;
}

.room__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.room__input .muisvgicon-root {
  margin: 10px;
  color: gray;
}

.room__input form {
  flex: 1;
  display: flex;
  padding-right: 20px;
}

.room__input .muiinput-root {
  flex: 1;
  border: none;
  padding: 10px;
}

.room__input form button {
  display: none;
}
